-if permitted_to? :create, :articles
  %article
    %section
      %p
        = link_to "Add article", new_article_path
- @articles.each do |article|
  = render :partial => 'only_article', :locals => {:article => article}
