click it!
<div id = "test">
	<%= button_tag "LETS GO" %>
</div>
<div id="result">
</div>

<script type="text/javascript">
    $(document).ready(function() {
    	$("#test").bind('click', function() {
	        $.get('http://numbersapi.com/1337/trivia?notfound=floor', function(data) {
			    $('#result').text(data);
		    })
		})
    })    
</script>
