%article
  %header
    %h1 Du trodde fylla var over?
%iframe{:src => "http://widget.mibbit.com/?settings=1b3999b0566bde84fa9425e8330be75b&server=irc.efnet.org&channel=%23fyllechat", :style => "width:100%; height:450px;" }
