%article
  %header
    %h1
      Ting laget i javascript
  %section
    %dl
      %dt
        = link_to "Gravity", '/assets/gravity.html'
      %dd
        Forsok på å implemente ordentlig collision detection.
      %dt
        = link_to "Gyroscope", "/assets/gyroscope.html"
      %dd
        Tyngdekraften avhengig av orientering påtablet / mobil.
