<p>Her kommer det vel noe javascript etterhvert kan jeg anta meg</p> 

<script type="application/javascript">

    function draw() {
        var canvas = document.getElementById("draw");
        var context = canvas.getContext("2d");
      
        context.beginPath();
        context.moveTo(100, 20);
        
        // line 1
        context.lineTo(200, 160);

        // quadratic curve
        context.quadraticCurveTo(230, 200, 250, 120);

        // bezier curve
        context.bezierCurveTo(290, -40, 300, 200, 400, 150);

        // line 2
        context.lineTo(500, 90);

        context.lineWidth = 5;
        context.strokeStyle = "blue";
        context.stroke();
    };
</script>

<body onload="draw();">
    <canvas id="draw", width=500, height=300></canvas>
</body>
