%article
	%header
		%h1 All of links!
	%section
		-@links.each do |link|
			%p
				=link_to link.shorturl, link
				=link_to "Delete", link, :confirm => "Are you sure?", :method => :delete, :style => "float:right;"
	%section
		%p
			=link_to "Back", new_link_path