%h1 Lenkeforlengaren

= semantic_form_for @link do |f|
	=f.input :shorturl, :label => "Short url. http://"
	=f.input :length, :as => :select, :collection => [1,2,3]
	=f.action :submit

=link_to "All of links!", links_path
