-content_for :sidebar do 
	= render 'layouts/sidebar'

%article
	%header
		%h1 Lenkeforlengaren
	%section
		%p
			= semantic_form_for @link do |f|
				=f.input :shorturl, :label => "url"
				=f.input :length, :as => :select, :collection => [1,2,3]
				=f.action :submit
