%h1 Lenkeforlengaren

=form_for(@link) do |f|
	=f.label "Short Url"
	%br/
	http://
	=f.text_field :shorturl
	=f.select(:length, (1..3).to_a)
	=f.submit "Lag Link!"
	%br/

=link_to "All of links!", links_path
