%ul 
  %li
    .paragraph-title 1. (Hva loven gjelder)
    .paragraph-body
      Denne loven gjelder tidsutfordringer, samt deltageres påmelding, avmelding, og straff angående disse
  %li
    .paragraph-title 2. (Hva menes med tidsutfordring)
    .paragraph-body
      Med en tidsutfordring menes en utfordring som innebærer å møte opp på riktig sted før oppmøtefristen har passert. 
      Deltagere (§4) kan melde seg av og på tidsutfordringer (§3).
      Deltagere (§4) som møter etter oppmøtefristen kan bli straffet (§6)
    %ul
      %li 
        .paragraph-title 2.1 
        .paragraph-body Oppmøtested skal komme klart frem av tittelen på hver tidsutfordring.
      %li 
        .paragraph-title 2.2 
        .paragraph-body Premie skal komme klart frem av feltet premie på hver tidsutfordring.
      %li 
        .paragraph-title 2.3 
        .paragraph-body Påmeldingsfrist og oppmøtefrist skal komme klart frem av sine respektive felt på hver tidsutfordring.
  %li
    .paragraph-title 3. (På- og avmelding)
    .paragraph-body
      En deltager kan melde seg på og av en tidsutfordring hvis påmeldingsfristen ikke har passert(§5). 
      En påmelding er bindende hvis påmeldingsfristen har passert (§5).

  %li
    .paragraph-title 4. (Hva menes med deltager)
    .paragraph-body
      Med deltager menes en bruker av nettsiden https://tidla.us som har logget inn gjennom en av de tilbudte tjenerne (F.ex github).

  %li
    .paragraph-title 5. (Hva menes med at en frist har passert)
    .paragraph-body
      Med at en frist har passert menes at klokken har passert tidspunktet ett sekund før den aktuelle fristen.
    %ul
      %li
        .paragraph-title 5.1 (Hva menes med klokken)
        .paragraph-body
          Klokken på klokka.no skal brukes for å sjekke om en frist har passert. 

  %li
    .paragraph-title 6. (Hva menes med straff)
    .paragraph-body
      Med straff menes det i denne lov det å kjøpe premier(§2.2) til alle deltakere (§4) som har fullført (§6.1) tidsutfordringen før deg.
      Hvis en deltager (§4) har møtt opp på rett sted og er der når oppmøtetidsfristen passerer (§5) kan deltageren (§4) ikke tildeles straff (§6) for denne tidsutfordringen.
      Hvis en deltager (§4) møter etter passert oppmøtefrist (§5) men ingen andre deltagere (§4) har fullført denne tidsutfordringen, vil ingen straff (§6) tildeles denne deltageren (§4).
    %ul
      %li
        .paragraph-title 6.1 (Hva menes med fullført tidsutfordring)
        .paragraph-body
          Med fullført tidsutfordring menes det å være på rett lokale enten når oppmøtefristen passerer eller ved et senere tidspunkt samme dag.

  %li
    .paragraph-title 7. (Eksport)
    .paragraph-body
      Dette produktet kan ikke eksporteres til Iran, Nord-Korea eller andre land under handelsembargo.

