%article
  %header
    %h1= @timechallenge.title.capitalize
  %section
    - @timechallenge.users && @timechallenge.users.each do |u|
      - if u.uid == current_user.uid
        = link_to "unattend", timechallenge_participation_path(@timechallenge, current_user), :method => :delete
      %p= u.name + u.provider

    %p= link_to "attend", timechallenge_participations_path(@timechallenge), :method => :post, :confirm => "Attend this timechallenge?"

