/* main css */

* {
  margin: 0;
  font-family: OpenSans, Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  background:#113046;
}

.wrapper {
  min-height:100%;
  margin-bottom:-40px;
}

.footer {
  height:40px;
}

.push {
  height:40px;
}

.section {
  width:810px;
  font-size:100%;
  padding: 1px 30px 30px 30px;
  margin: 0 auto;
  text-align:left;
  background:#fff;
}

.section h1 {
  text-align:center;
  margin:0.5em;
  font-size:200%;
}

/* menu tags */

.menu {
  display:block;
  height: 30px; line-height: 30px;
  margin-bottom:20px;
  background:#13041D;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding:1px;
  padding-left:2px;
}
.menu li {
  display: inline;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 0 7px;
}
.menu a:hover {
  text-decoration: underline;
}

/* footer css */

.footer {
  text-align: center;
}
.footer li {
  display:inline;
  color:#13041D;
}

.footer a {
  color:#13041D;
  text-decoration:none;
}

.flash {
  margin: auto;
  margin-top:15px;

  border:2px solid green;
  width:auto;
  padding:7px;
  text-align:center;
  background-color: #f0f0f0;

  word-wrap: break-word;
}

#tablerow {
  word-wrap:break-word;
}

#maintable {
  table-layout:fixed;
}