.container{
  width: 710px;
  padding-top:20px;
  margin:0 auto;
}

body {
  background: #A03033;
  margin:0;
}


section {
  margin-top: 1em;
  font-size: 120%;
  padding: 1px 30px 30px 30px ;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Header */

#menu {
  display:block;
  background-color: #000;
  height: 30px; line-height: 30px;

}

#menu ul {
  list-style-type: none;
  margin: 0;
}

#menu li {
  display: inline;

}
#menu a {
  color: white;
  text-decoration: none;
  padding: 0 7px;
  font-family: OpenSans, Helvetica, Arial, sans-serif;
}
#menu a:hover {
  text-decoration: underline;
}

#menu li#login {
  float:right;
  padding-right: 7px;
}

/* Links */