%table
	=form_for(@exercise) do |f|
		%tr
			%td=f.label "Fag!" 
			%td=f.text_field :name
		%tr
			%td= f.label "Frist"
			%td= f.datetime_select :date
		%tr
			%td=f.label "Antall Ovinger"
			%td=f.select(:antall, Exercise::AntallOvinger)

		%tr
			%td=f.label "Repeat frequency"
			%td=f.select(:meta, Exercise::Metatag.map {|l| [l, Exercise::Metatag.index(l)+1]})

		%tr
			%td=f.submit "Submit"




/ id          :integer         not null, primary key
/#  name        :string(255) Oppgis X
/#  meta        :integer	OppgisX  			konverter?
/#  created_at  :datetime       Auto X
/#  updated_at  :datetime        auto X
/#  levert      :boolean		Skal defualte false X
/#  ferdig      :boolean		Skal defaulte false X
/#  ukedag      :integer		Oppgis X 		konverter?
/#  klokkeslett :integer		Oppgis X 		konverter?
/#  date        :datetime		Skal regnes ut basert på input :|
/#  user_id					Auto X
/antall