<header>
    <%= image_tag("header.jpg", :alt => "The daleks are invading!") %>
    <nav>
        <ul>
            <li>
                <a href="www.reddit.com">Lyst aa kaste bort tid</a>
            </li>
        </ul>
    </nav>
</header>

