<header>
    <%= image_tag("header.jpg", :alt => "The daleks are invading!") %>
    <nav>
        <ul>
            <li><%= link_to "Heim", root_path %></li>
            <li><%= link_to "Om", about_path %></li>
            <li><%= link_to "Magi", magi_path %></li>
        </ul>
    </nav>
</header>

