<header id="menu">
    <nav>
        <ul>
            <li><%= link_to "Heim", root_path %></li>
            <li><%= link_to "Om", about_path %></li>
            <li><%= link_to "Magi", magi_path %></li>
            <li id="login"><%= link_to "Login", root_path %></li>
        </ul>
    </nav>
</header>

