!!!!! 5
%html
  %head
    %title Velkommen til Tidlaus! | "#{@title}"
    =csrf_meta_tags
    !=render 'layouts/stylesheets'
  %body
    .wrapper
      .menu
        !=render 'layouts/header'
      .section
        -flash.each do |key, value|
          .flash.key
            =value
        .tocenterleft
          =yield
      .push
    .footer
      !=render 'layouts/footer'
