!!!!! 5
%html
  %head
    %title Velkommen til Tidlaus! | =@title
    =csrf_meta_tags
    !=render 'layouts/stylesheets'
  %body
    .wrapper
      .menu
        !=render 'layouts/header'
      -flash.each do
        =value
      .section
        .tocenterleft
          =yield
      .push
    .footer
      !=render 'layouts/footer'
