!!!!! 5
%html
    %head
        %title Velkommen til Tidlaus! | "#{@title}"
        =csrf_meta_tags
        =stylesheet_link_tag 'tidlaus'
        =javascript_include_tag 'application'
    %body
        =render 'layouts/header'
        .container
            .row
                .ninecol
                    -flash.each do |key, value|
                        .flash
                        =value.html_safe
                    =yield
                .threecol.last.hide
                    =yield :sidebar
        =render 'layouts/footer'
